Source: usbpicprog
Section: devel
Priority: optional
Maintainer: Frans Schreuder <fransschreuder@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libwxbase2.9-dev, libwxgtk2.9-dev, libusb-dev (>= 0.1.12)
Standards-Version: 3.8.1
Homepage: <http://usbpicprog.org>

Package: usbpicprog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Usbpicprog - An open source USB pic programmer
 Usbpicprog consists of this software, a hardware design and firmware.
