[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=piklab %U
Icon=piklab.png
X-DocPath=piklab/index.html
Categories=Qt;KDE;Development;IDE;Electronics;
Comment=Integrated development environment for applications based on PIC microcontrollers.
Terminal=false
Name=Piklab
GenericName=IDE
MimeType=text/x-hex;application/x-piklab
