Source: usbpicprog
Section: devel
Priority: optional
Maintainer: Frans Schreuder <fransschreuder@gmail.com>
Build-Depends: debhelper (>= 6), autotools-dev, libwxgtk3.2-dev (>=3.0.0), wx3.2-headers(>=3.0.0), libusb-1.0-0-dev (>= 1.0.1), intltool (>= 0.35), libtiff-dev, libxxf86vm-dev, build-essential, pkgconf
Standards-Version: 3.8.1
Homepage: <http://usbpicprog.org>

Package: usbpicprog
Architecture: any
Depends: libwxbase3.2-1(>=3.0.0), libwxbase3.2-1(>=3.0.0), libusb-1.0-0 (>= 1.0.1), libtiff6, libxxf86vm1
Description: Usbpicprog - An open source USB pic programmer
 Usbpicprog consists of this software, a hardware design and firmware.
