
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon=usbpicprog
Name=Usbpicprog
Exec=usbpicprog
Comment=A simple hardware USB pic programmer
Categories=Application;Development;
