Package: piklab
Version: 0.14.0-0
Section: devel
Priority: optional
Architecture: i386
Depends: kdelibs4c2a (>= 4:3.5.2), libacl1 (>= 2.2.11-1), libart-2.0-2 (>= 2.3.16), libattr1 (>= 2.4.4-1), libaudio2, libc6 (>= 2.3.4-1), libfontconfig1 (>= 2.3.0), libfreetype6 (>= 2.1.10-1), libgamin0, libgcc1 (>= 1:4.0.2), libice6, libidn11 (>= 0.5.18), libjpeg62, libpcre3 (>= 4.5), libpng12-0 (>= 1.2.8rel), libqt3-mt (>= 3:3.3.6), libreadline5 (>= 5.1), libsm6, libstdc++6 (>= 4.0.2-4), libx11-6, libxcursor1 (>> 1.1.2), libxext6, libxft2 (>> 2.1.1), libxi6, libxinerama1, libxrandr2, libxrender1, libxt6, zlib1g (>= 1:1.2.1)
Recommends: sdcc (>= 2.5.0), sdcc-libraries
Installed-Size: 9660
Maintainer: Stefan von Halenbach <vonHalenbach@users.sf.net>
Description: IDE for PIC-microcontroller development
 A program to build software for microcontrollers from
 Microchip in assembler and C language. With external programmer
 like most selfmade direct programmers or one of the professional
 programmers like PICkit1, PICkit2, ICD2 and PicStart+ is it
 possible to read, write, check and delete the flash memory of
 many PIC-microcontrollers.
 .
 Homepage: http://piklab.sourceforge.net/
 .
