[Desktop Entry]
Encoding=UTF-8
Comment=Piklab Project File
DefaultApp=piklab
Icon=piklab_project
Type=MimeType
MimeType=application/x-piklab
Patterns=*.piklab;
